In [1]:
import requests
import pandas as pd

## OPEN API 호출

In [2]:
# 서울열린데이터광장 API 호출키
SEOUL_API_AUTH_KEY = '***********************'

In [37]:
# API 호출을 위한 요청 인자
# 'http://openapi.seoul.go.kr:8088/{KEY}/{TYPE}/{SERVICE}/{START_INDEX}/{END_INDEX}/{OBJECTED}(선택)
#Open_API = 'SearchOpenAPIService'
Open_API = 'GangseoListLoanCompany'
url = 'http://openapi.seoul.go.kr:8088/{}/json/{}/1/5/'.format(SEOUL_API_AUTH_KEY, Open_API)

In [38]:
result_dict = requests.get(url).json()
result_dict

{'GangseoListLoanCompany': {'list_total_count': 1104,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'BSNS_SE': '대부중개업',
    'MNG_STATE_CODE': '폐업',
    'OLD_APV_NO': '2015-서울강서-00033(대부중개업)',
    'BUP_NM': '주식회사 론마음파트너스대부중개',
    'REP_NM': '김진영',
    'UPCHE_GBN': '법인',
    'WRKR_BUP_TELNO': '02-521-1012',
    'WRKR_BUP_ADDR': '서울특별시 강서구 등촌동  696번지  세신그린코아빌딩',
    'WRKR_RD_FULL_ADDR': '서울특별시 강서구 공항대로41길 51, 세신그린코아빌딩 9층 905호 (등촌동)',
    'WRKR_BUP_POST_NO': '',
    'APV_YMD': '20210712',
    'END_APV_YMD': '20240712',
    'LAST_CLS_YMD': '20220117',
    'WRKR_ESBMNT_YMD': '20150924',
    'HOFF_YN': '본점',
    'LAST_MOD_YMD': '20220118'},
   {'BSNS_SE': '대부업',
    'MNG_STATE_CODE': '폐업',
    'OLD_APV_NO': '2020-서울강서-0033(대부업)',
    'BUP_NM': '선유대부',
    'REP_NM': '김준영',
    'UPCHE_GBN': '개인',
    'WRKR_BUP_TELNO': '',
    'WRKR_BUP_ADDR': '서울특별시 강서구 가양동  14번지 51호  토피아빌딩',
    'WRKR_RD_FULL_ADDR': '서울특별시 강서구 화곡로 429, 토피아빌딩 4층 402-10호 (가양동)',
    'WRKR_BUP_POST_NO': '',
    'APV_YMD': '20201106',
    'END_APV_YMD': '20231106',
    'LAST_CLS_YMD': '20220117',
    'WRKR_ESBMNT_YMD': '20201106',
    'HOFF_YN': '본점',
    'LAST_MOD_YMD': '20220118'},
   {'BSNS_SE': '대부중개업',
    'MNG_STATE_CODE': '영업중',
    'OLD_APV_NO': '2021-서울강서-0036(대부중개업)',
    'BUP_NM': 'EU대부중개',
    'REP_NM': '최영우',
    'UPCHE_GBN': '개인',
    'WRKR_BUP_TELNO': '',
    'WRKR_BUP_ADDR': '서울특별시 강서구 마곡동  798번지 17호  ',
    'WRKR_RD_FULL_ADDR': '서울특별시 강서구 마곡중앙1로 10, 8층 801~810호 A31호 (마곡동)',
    'WRKR_BUP_POST_NO': '',
    'APV_YMD': '20210817',
    'END_APV_YMD': '20240817',
    'LAST_CLS_YMD': '',
    'WRKR_ESBMNT_YMD': '20210817',
    'HOFF_YN': '본점',
    'LAST_MOD_YMD': '20220105'},
   {'BSNS_SE': '대부중개업',
    'MNG_STATE_CODE': '폐업',
    'OLD_APV_NO': '2021-서울강서-0014(대부중개업)',
    'BUP_NM': '와이앤제이컨설팅 대부중개',
    'REP_NM': '윤효선',
    'UPCHE_GBN': '개인',
    'WRKR_BUP_TELNO': '',
    'WRKR_BUP_ADDR': '서울특별시 강서구 마곡동  774번지 1호  ',
    'WRKR_RD_FULL_ADDR': '서울특별시 강서구 공항대로 209, 618호 (마곡동)',
    'WRKR_BUP_POST_NO': '',
    'APV_YMD': '20210318',
    'END_APV_YMD': '20240318',
    'LAST_CLS_YMD': '20220104',
    'WRKR_ESBMNT_YMD': '20210318',
    'HOFF_YN': '본점',
    'LAST_MOD_YMD': '20220104'},
   {'BSNS_SE': '대부업',
    'MNG_STATE_CODE': '영업중',
    'OLD_APV_NO': '2021-서울강서-0053(대부업)',
    'BUP_NM': '꽃길대부',
    'REP_NM': '김정근',
    'UPCHE_GBN': '개인',
    'WRKR_BUP_TELNO': '',
    'WRKR_BUP_ADDR': '서울특별시 강서구 공항동  60번지 118호  대성빌딩',
    'WRKR_RD_FULL_ADDR': '서울특별시 강서구 송정로 51, 대성빌딩 4층 402-5호 (공항동)',
    'WRKR_BUP_POST_NO': '',
    'APV_YMD': '20211224',
    'END_APV_YMD': '20241224',
    'LAST_CLS_YMD': '',
    'WRKR_ESBMNT_YMD': '20211224',
    'HOFF_YN': '본점',
    'LAST_MOD_YMD': '20211224'}]}}

In [33]:
type(result_dict)

dict

In [41]:
result_data = result_dict['GangseoListLoanCompany']
print(result_data['list_total_count'])
print(result_data['RESULT'])  # 정상 : 'INFO-000'
print(result_data['row'][0])
print(result_data['row'][0]['WRKR_BUP_ADDR'])

1104
{'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}
{'BSNS_SE': '대부중개업', 'MNG_STATE_CODE': '폐업', 'OLD_APV_NO': '2015-서울강서-00033(대부중개업)', 'BUP_NM': '주식회사 론마음파트너스대부중개', 'REP_NM': '김진영', 'UPCHE_GBN': '법인', 'WRKR_BUP_TELNO': '02-521-1012', 'WRKR_BUP_ADDR': '서울특별시 강서구 등촌동  696번지  세신그린코아빌딩', 'WRKR_RD_FULL_ADDR': '서울특별시 강서구 공항대로41길 51, 세신그린코아빌딩 9층 905호 (등촌동)', 'WRKR_BUP_POST_NO': '', 'APV_YMD': '20210712', 'END_APV_YMD': '20240712', 'LAST_CLS_YMD': '20220117', 'WRKR_ESBMNT_YMD': '20150924', 'HOFF_YN': '본점', 'LAST_MOD_YMD': '20220118'}
서울특별시 강서구 등촌동  696번지  세신그린코아빌딩

In [40]:
data_list = result_data['row']
sample_df = pd.DataFrame(data_list)
sample_df

,BSNS_SE,MNG_STATE_CODE,OLD_APV_NO,BUP_NM,REP_NM,UPCHE_GBN,WRKR_BUP_TELNO,WRKR_BUP_ADDR,WRKR_RD_FULL_ADDR,WRKR_BUP_POST_NO,APV_YMD,END_APV_YMD,LAST_CLS_YMD,WRKR_ESBMNT_YMD,HOFF_YN,LAST_MOD_YMD
0,대부중개업,폐업,2015-서울강서-00033(대부중개업),주식회사 론마음파트너스대부중개,김진영,법인,02-521-1012,서울특별시 강서구 등촌동 696번지 세신그린코아빌딩,"서울특별시 강서구 공항대로41길 51, 세신그린코아빌딩 9층 905호 (등촌동)",,20210712,20240712,20220117,20150924,본점,20220118
1,대부업,폐업,2020-서울강서-0033(대부업),선유대부,김준영,개인,,서울특별시 강서구 가양동 14번지 51호 토피아빌딩,"서울특별시 강서구 화곡로 429, 토피아빌딩 4층 402-10호 (가양동)",,20201106,20231106,20220117,20201106,본점,20220118
2,대부중개업,영업중,2021-서울강서-0036(대부중개업),EU대부중개,최영우,개인,,서울특별시 강서구 마곡동 798번지 17호,"서울특별시 강서구 마곡중앙1로 10, 8층 801~810호 A31호 (마곡동)",,20210817,20240817,,20210817,본점,20220105
3,대부중개업,폐업,2021-서울강서-0014(대부중개업),와이앤제이컨설팅 대부중개,윤효선,개인,,서울특별시 강서구 마곡동 774번지 1호,"서울특별시 강서구 공항대로 209, 618호 (마곡동)",,20210318,20240318,20220104,20210318,본점,20220104
4,대부업,영업중,2021-서울강서-0053(대부업),꽃길대부,김정근,개인,,서울특별시 강서구 공항동 60번지 118호 대성빌딩,"서울특별시 강서구 송정로 51, 대성빌딩 4층 402-5호 (공항동)",,20211224,20241224,,20211224,본점,20211224

## OPEN API 호출 공통 함수

In [60]:
SEOUL_API_AUTH_KEY = '**********'

def seoul_open_api_data(url, service):
    data_list = None # 에러가 발생하면 None 값을 돌려주도록 초깃값 할당
    try:
        result_dict = requests.get(url).json()
        result_data = result_data['RESULT']['CODE']
        if code == 'INFO-000':
            data_list = result_data['row']
    except:
        pass
    return data_list

## 서울시 시군구별 인구 데이터 가져오기
- '서울시 주민등록인구 (구별) 통계' 검색

In [44]:
sgg_pop_df = pd.read_csv('6.report.txt', sep='\t', header = 2)
columns = {'기간':'GIGAN',
           '자치구' : 'JACHIGU',
           '계' : 'GYE_1',
           '계.1': 'GYE_2',
           '계.2': 'GYE_3',
           '남자' : 'NAMJA_1',
           '남자.1' : 'NAMJA_2',
           '남자.2' : 'NAMJA_3',
           '여자' : 'YEOJA_1',
           '여자.1' : 'YEOJA_2',
           '여자.2' : 'YEOJA_3',
           '세대' : 'SEDAE',
           '세대당인구' : 'SEDAEDANGINGU',
           '65세이상고령자' : 'N_65SEISANGGORYEONGJA',}
sgg_pop_df.rename(columns = columns, inplace = True)

In [45]:
sgg_pop_df.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
0,2021.3/4,합계,"4,421,143","9,765,869","4,739,972","5,025,897","9,542,256","4,636,069","4,906,187","223,613","103,903","119,710",2.16,"1,592,339"
1,2021.3/4,종로구,"73,652","154,318","74,561","79,757","145,512","70,666","74,846","8,806","3,895","4,911",1.98,"27,776"
2,2021.3/4,중구,"63,267","131,943","64,274","67,669","122,858","59,853","63,005","9,085","4,421","4,664",1.94,"24,225"
3,2021.3/4,용산구,"111,177","238,300","115,655","122,645","224,145","107,801","116,344","14,155","7,854","6,301",2.02,"38,906"
4,2021.3/4,성동구,"134,620","294,140","143,055","151,085","287,820","140,290","147,530","6,320","2,765","3,555",2.14,"46,053"

In [46]:
sgg_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  26 non-null     object
 1   JACHIGU                26 non-null     object
 2   SEDAE                  26 non-null     object
 3   GYE_1                  26 non-null     object
 4   NAMJA_1                26 non-null     object
 5   YEOJA_1                26 non-null     object
 6   GYE_2                  26 non-null     object
 7   NAMJA_2                26 non-null     object
 8   YEOJA_2                26 non-null     object
 9   GYE_3                  26 non-null     object
 10  NAMJA_3                26 non-null     object
 11  YEOJA_3                26 non-null     object
 12  SEDAEDANGINGU          26 non-null     float64
 13  N_65SEISANGGORYEONGJA  26 non-null     object
dtypes: float64(1), object(13)
memory usage: 3.0+ KB

In [47]:
# 필요 없는 데이터 제거
condition = sgg_pop_df['JACHIGU'] != '합계'
sgg_pop_df_selected = sgg_pop_df[condition]
sgg_pop_df_selected.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
1,2021.3/4,종로구,"73,652","154,318","74,561","79,757","145,512","70,666","74,846","8,806","3,895","4,911",1.98,"27,776"
2,2021.3/4,중구,"63,267","131,943","64,274","67,669","122,858","59,853","63,005","9,085","4,421","4,664",1.94,"24,225"
3,2021.3/4,용산구,"111,177","238,300","115,655","122,645","224,145","107,801","116,344","14,155","7,854","6,301",2.02,"38,906"
4,2021.3/4,성동구,"134,620","294,140","143,055","151,085","287,820","140,290","147,530","6,320","2,765","3,555",2.14,"46,053"
5,2021.3/4,광진구,"167,438","353,380","169,739","183,641","341,112","164,553","176,559","12,268","5,186","7,082",2.04,"51,278"

In [49]:
sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  25 non-null     object
 1   JACHIGU                25 non-null     object
 2   SEDAE                  25 non-null     object
 3   GYE_1                  25 non-null     object
 4   NAMJA_1                25 non-null     object
 5   YEOJA_1                25 non-null     object
 6   GYE_2                  25 non-null     object
 7   NAMJA_2                25 non-null     object
 8   YEOJA_2                25 non-null     object
 9   GYE_3                  25 non-null     object
 10  NAMJA_3                25 non-null     object
 11  YEOJA_3                25 non-null     object
 12  SEDAEDANGINGU          25 non-null     float64
 13  N_65SEISANGGORYEONGJA  25 non-null     object
dtypes: float64(1), object(13)
memory usage: 2.9+ KB

In [50]:
# 분석에 필요한 칼럼 선택
columns = ['JACHIGU','GYE_1']
sgg_pop_df_final = sgg_pop_df_selected[columns]

In [51]:
sgg_pop_df_final.head()

  JACHIGU    GYE_1
1     종로구  154,318
2      중구  131,943
3     용산구  238,300
4     성동구  294,140
5     광진구  353,380

In [52]:
sgg_pop_df_final.columns = ['시군구명','주민등록인구']
sgg_pop_df_final.head()

  시군구명   주민등록인구
1  종로구  154,318
2   중구  131,943
3  용산구  238,300
4  성동구  294,140
5  광진구  353,380

In [53]:
sgg_pop_df_final.to_excel('6.sgg_pop.xlsx', index=False)

- 서울시 시군구별 사업체 데이터 다운로드

In [58]:
sgg_biz_df = pd.read_csv('6.report2.txt',sep = '\t', header = 2)
columns = {
    '기간' : 'GIGAN',
    '자치구' : 'JACHIGU',
    '동' : 'DONG',
    '사업체수' : 'SAEOPCHESU_1',
    '여성대표자' : 'YEOSEONGDAEPYOJA',
    '계' : 'GYE',
    '남' : 'NAM',
    '여' : 'YEO'
}
sgg_biz_df.rename(columns = columns, inplace = True)
sgg_biz_df.head()

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
0,2019,합계,합계,"823,624","281,318","5,226,997","2,885,614","2,341,383",24,426,...,"1,296","141,582","35,761","351,320","29,168","400,143","23,527","92,752","69,345","189,557"
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
2,2019,종로구,사직동,"3,574","1,203","47,522","25,154","22,368",1,12,...,23,"6,088",83,786,106,"1,096",91,"1,653",253,906
3,2019,종로구,삼청동,732,327,"4,601","2,271","2,330",-,-,...,4,"1,291",17,297,7,30,19,185,25,194
4,2019,종로구,부암동,599,255,"3,454","1,764","1,690",-,-,...,3,60,38,"1,190",19,183,18,49,82,325

In [63]:
condition = sgg_biz_df['DONG'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition]
sgg_biz_df_selected.head()

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
19,2019,중구,소계,"60,127","22,451","392,568","213,484","179,084",-,-,...,65,"20,287",502,"8,598",760,"10,342",558,"3,637","2,112","8,090"
35,2019,용산구,소계,"20,254","7,074","135,240","74,570","60,670",-,-,...,47,"3,101",537,"6,973",562,"7,147",401,"2,623","1,591","5,494"
52,2019,성동구,소계,"28,343","8,563","178,243","102,769","75,474",2,5,...,45,"4,127",995,"11,678",754,"9,255",592,"2,113","2,079","7,787"
70,2019,광진구,소계,"24,445","8,921","126,305","67,899","58,406",-,-,...,36,"2,678","1,209","14,184",916,"11,551","1,052","4,209","2,552","5,828"

In [72]:
columns = ['JACHIGU','GYE','SAEOPCHESU_1']
sgg_biz_df_final = sgg_biz_df_selected[columns]
sgg_biz_df_final.columns = ['시군구명','종사자수','사업체수']
sgg_biz_df_final.head()

   시군구명     종사자수    사업체수
1   종로구  260,446  39,679
19   중구  392,568  60,127
35  용산구  135,240  20,254
52  성동구  178,243  28,343
70  광진구  126,305  24,445

In [74]:
sgg_biz_df_final = sgg_biz_df_final.reset_index(drop = True)
sgg_biz_df_final.head()

  시군구명     종사자수    사업체수
0  종로구  260,446  39,679
1   중구  392,568  60,127
2  용산구  135,240  20,254
3  성동구  178,243  28,343
4  광진구  126,305  24,445

In [66]:
#sgg_biz_df_final.to_excel('6.sgg_biz.xlsx', index = False)

#### 지금까지 저장한 파일
- 6.seoul_starbucks.xlsx
- 6.sgg_list.xlsx
- 6.sgg_pop.xlsx
- 6.sgg_biz.xlsx